#header {
	background: #ffffff;
	width: 100%;
}
#header div {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}
#header div img {
	float: left;
	margin-top: 15px;
}
#header div ul {
	float: right;
	list-style: none;
	margin: 40px 0 0;
	overflow: hidden;
	padding: 0;
}
#header div ul li {
	float: left;
	padding: 0 5px;
}
#header div ul li.current a {
	background: url(../images/bg-button.gif) no-repeat 0 0;
}
#header div ul li a {
	color: #495531;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 90px;
}
#header div ul li a:hover {
	color: #82ae3f;
}




.btn-secondary{
	background-color: #434a45;
	border-color: #434a45;
}

.btn-primary{
	background-color: #f39c12;
	border-color: #f39c12;
	
}


